[smtp]
host = "smtp.gmail.com"
port = 587
user = "yourgmail@gmail.com"
password = "your-16-char-gmail-app-password"
from_email = "yourgmail@gmail.com"
from_name = "Your Company Recruitment"
use_tls = true
